.neo-alchemist--component-form {
  .media-library-item {
    width: calc(var(--spacing) * 36);
  }

  .media-library-item--preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(var(--color-base-100));
    width: calc(var(--spacing) * 36);
    height: calc(var(--spacing) * 24);
    border: 2px solid var(--border-color-default);
    border-radius: 0.25rem;

    .field--name-thumbnail {
      width: calc(var(--spacing) * 36);
      min-height: calc(var(--spacing) * 24);
    }

    img {
      width: calc(var(--spacing) * 36);
      height: calc(var(--spacing) * 24);
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .media-library-widget--prefix {
    margin: 0;
  }

  .js-media-library-widget {
    border: 0;
    padding: 0;
    box-shadow: none;
  }

  .field--widget-media-library-widget .description {
    margin: 0;
  }

  .media-library-wrapper {
    padding: 0 !important;

    .fieldset--content {
      margin: 0 !important;
    }

    .media-library-selection {
      margin: 0 !important;
    }
  }

  .js-media-library-open-button {
    margin-top: calc(var(--spacing) * 2);
  }
}
